{% extends "base_generic.html" %}

{% block content %}
<h1>The house of the local library</h1>

  <p>Welcome to <em>LocalLibrary</em>, very is a simple Django website developed as a training example in the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following number of entries:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Available copies:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>

<p>
  You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.
</p>

{% endblock %}